.inputContainer {
  display: flex;
  align-items: center;
  padding-left: 150px;
}
.counts {
  flex: 0.3;
  padding-left: 20px;
}
.input {
  flex: 0.5;
  background-color: #eef3f6;
  border-radius: 10px;
}
